 * { font-family: 'Nanum Pen Script', cursive;}
 
 
.logo{
 width:10px; height:10px;
 }

/*배너*/
#banner img{width:70%; height:10%;}
#b_icon img{clear:both; position:absolute; float: left; top:28%; }
.icon1 {width: 10%; left: 25%;}
.icon2 {width: 10%; left: 45%;}
.icon3 {width: 10%;  left: 65%;}
 
 
select {
 width : 10%;
 padding: 0.5%;
 font-size : large;
 border-color : #836e5b;
}

option { color: white; background:#836e5b;  }

/*button*/
.look {
  -moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding: 0.5%;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}

.look:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
.look:active {
	position:relative;
	top:1px;
}

/*인기순 / 조회순 / new*/
p{ font-size : 40px; color : #836e5b; }
 
 /*selcet
  .select-wrapper{
    font: normal 14px '\5FAE\8F6F\96C5\9ED1';
    width: 240px;
    height: 34px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    *float: left;
    *margin-right: 10px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
  }
  .select-wrapper.focus{
    border: 1px solid #836e5b; /*select 테두리창
  }
  .select-button{
     width: 238px;
    height: 34px;
    border: 0;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    padding: 0 26px 0 10px;
    overflow: hidden;
    text-align: left;
    outline: none;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    font-size : 150%
  }
  .select-down{
    position: absolute;
    top: 21px;
    right: 12px;
    height:0;
    width:0;
    overflow: hidden;
    font-size: 0;
    border-color: #333 transparent transparent transparent; /*테두리색상
    border-style: solid;
    border-width: 6px;
  }  
  .disabled{
    color: #cccccc;
  }
  .select-list{
    width: 238px;
    background: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 3px #ddd;
    border-radius: 3px;
    display: none;
    z-index: 2;
    position: absolute;
    left: -1px;
    top: 35px;
    overflow: hidden;
  }
  .select-list ul{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 34px;
    max-height: 240px;
  }
  .select-list ul li{
    width: auto;
    height: 34px;
    padding-left: 10px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
     font-size:large;
  }
  .select-list ul li.selected,
  .select-list ul li:hover{
    color: #fff;
    background: #836e5b; /*list 마우스 올릴 때 컬러
  }
  
  /* 訝뗦땳�닓烏ⓧ툖�룾�뵪�졆凉� 
  .select-button-disable{
    color: #ccc;
    width: 238px;
    height: 34px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    padding-left: 10px;
    overflow: hidden;
    text-align: left;
    outline: none;
  }
  .select-down-disable{
   color: #ccc;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 10px;
   line-height: 34px;
  }*/