@charset "UTF-8";

/*문의 게시판*/
table th {
    background-color: #eeeeee;
    text-align: center;
}

.row {
    width:100%;
    position: relative;
    left:1%;
}

/*페이지*/
#infoPaging {
    list-style: none;
	width: 100%;
	font-size: 1.5vw;
	position:relative;
	left:48%;
}

#infoPaging li {float:left; 
    list-style:none; 
    margin:1px;
}