@charset "UTF-8";
* { font-family: 'Gamja Flower', cursive; }

.line1 { 
    width:95%; 
    position:relative;
    left: 3%;
}

.line2 {
    width:95%; 
    position:relative;
    left: 3%;
}

/*제목*/
b { 
    font-size : 20px; color : #003366;
    position:relative;
    left: 5%;
}

.writer {
    position:absolute;
    right: 15%;
}

.date {
    position:absolute;
    right:5%
}

/*내용*/
.content {
    position:relative;
    left: 5%;
}

/* 답글 */
.review{
   width:80%;
   height:auto;
   font-size:2.0vw;
}
.review img{
   width:3%;
   position:relative;
   left:5%;

}
.rbox{
   border-top:   1px solid #fee181;
   border-bottom: 1px solid #fee181;
   padding:1%;
   position:relative;
   left:10%;
}

.pnum{
   position:relative;
   left:40%;
}
#btnReply {
   background-color:#fee181;
   border-color:#fdc606;
   border: none;
   color: white;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
   position:absolute;
   left:80%;
   bottom:20%;
}

.reply:hover {
  color:#fdc606;
}

textarea {
    resize : none;
    outline : none;
    border: 0;
}

/*button*/
.close {
    background-color: #836e5b;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position:absolute;
    left:48%;
}
.close:hover{
    background-color: #bb9540;
}