@charset "UTF-8";

*{
	margin:0;
	font-family: 'Gamja Flower', cursive;
}
nav{
	float:right;
}
.topUl li a{
	font-size: 1.7vw;
}
.logo{
	position:absolute;
	width:10%;
}
/* 타이틀 */
.top{
	position:absolute;
	top:3%;
	left:10%;
	width:auto;
	text-align:center;
	font-size: 3vw;
	color: #686868; 
}
/* 상단 이미지 메뉴 */
.menu{
	position:relative;
	top:130px;
	left:25%;
	
}
.menu img{
	width:15%;
	margin:1%;
}
.list_tab{
	position:relative;
	top:30px;
	left:20%;
}

/*공지사항_자주묻는질문*/
table{
	text-align: center;
	border-top:2px solid #686868; 
	border-bottom:2px solid #686868; 
	border-collapse: collapse;
	position:relative;
	right:50px;
	top:130px;
}
table th{
	border-top:2px solid #686868; 
	border-bottom:2px solid #686868; 
	width:230px;
	font-size: 2vw;
}
table td{
	font-size: 2vw;
	padding:1%;
}

a{
	text-decoration: none;
	color:black;
}


a:hover{
	
	color:#bb9540;
}

/*페이지*/
#tbl {
	border-right:none;
	border-left:none;
	border-top:none;
	border-bottom:none;
	width: 100%;
	font-size: 2vw;
}

/* 고객의 소리 */
.inform_user {
	border:2px solid #686868;
	width: 70%;
	position:relative;
	top: 130px;
	left:15%;

}

.list_tab2 div {
	padding: 2%;
}
label {
	font-size: 2vw;
	padding: 1%;
}

select {
	font-size:1.5vw;
	position:relative;
	left: 10%;
}

textarea {
	resize: none;
	font-size: 1.5vw;
	width: 100%;
}

input:focus, textarea:focus{
    outline: none;
}

.list_tab2 img{
	width:6%;
}

.informbox2 {
	position:relative;
	left: 45%;
	padding:2% 0 2% 0;
}

input {
	width:60%;
	font-size: 1.5vw;
	position:relative;
	left: 10%;
}

/*footer*/
footer{
	padding: 15% 0 0 0;
}