@charset "UTF-8";

*{
	margin:0;
	font-family: 'Gamja Flower', cursive;
}
nav{
	float:right;
}
.topUl li a{
	font-size: 1.7vw;
}
.logo{
	position:absolute;
	width:10%;
}
/* 타이틀 */
.top{
	position:absolute;
	top:3%;
	left:10%;
	width:auto;
	text-align:center;
	font-size: 3vw;
	color: #686868; 
}
/* 상단 이미지 메뉴 */
.menu{
	position:absolute;
	top:20%;
	left:28%;
	
}
.menu img{
	width:20%;
	margin:1%;
}
.list_tab{
	position:absolute;
	top:41%;
	left:20%;
}

/*공지사항_자주묻는질문*/
table{
	text-align: center;
	border-top:2px solid #686868; 
	border-bottom:2px solid #686868; 
	border-collapse: collapse;
	position:relative;
	right:50px;
}
table th{
	border-top:2px solid #686868; 
	border-bottom:2px solid #686868; 
	width:230px;
	font-size: 2vw;
}
table td{
	font-size: 2vw;
	padding:1%;
}

a{
	text-decoration: none;
	color:black;
}

table td a{
	text-decoration: none;
	color:#fc6b97; 
}

a:hover{
	color:orange;
}

/*페이지*/
#tbl {
	border-right:none;
	border-left:none;
	border-top:none;
	border-bottom:none;
	width: 100%;
	font-size: 2vw;
}

/* 고객의 소리 */
.list_tab2 table{
	position:absolute;
	top:38%;
	left:8%;
	text-align: center;
	border:2px solid #686868;
	border-collapse: collapse;
}

.list_tab2 table th{
	border:2px solid #686868;
}

.list_tab2 table td{
	border-top:2px solid #686868;
	border-bottom:2px solid #686868;
}

input{
	font-size:1.5vw;
	border:0;
}

select{
	font-size:1.5vw;
	padding:1%;
}

textarea{
	resize: none;
	width:100%;
	border:0;
}
.list_tab2 img{
	width:5%;
}

footer{
	position:absolute;
	bottom:-20%;
	margin:0 0 -5% 0;
}

input:focus, textarea:focus{
    outline: none;
}