@charset "UTF-8";
* { font-family: 'Gamja Flower', cursive; }
nav{
	position:relative;
	left:-1%;
}
section{
	position:relative;
	left:52px;
	top:-100px;
	margin:0;
	border:1px solid tan;
	width:670px;
}
/*배너*/
.banner {
	position:relative;
}

#banner {
	width:100%;
}

/*배너 버튼*/
.whole {
	clear:both; 
	position:absolute; 
	top:-1px;
	width:137px;
	right:-1px;
}

#whole2 {
	display:none;
	position:absolute;
	width: 300px;
	left: 150px;
	top: 50px;
	font-size: 10px;
	text-align:center;
	padding: 8px 8px;
	background: rgba(225,225,225,0.5); /*내용 바탕색 투명도*/
	background-clip:padding-box;
	border: 5px solid rgba(0,0,0,0.3); /*내용 경게선 투명도*/

}

.previous {
	clear:both; 
	position:absolute; 
	top:57px;
	width:137px;
	right:-1px;
}

#previous2 {
	display:none;
	position:absolute;
	width: 40%;
	left: 30%;
	top: 37%;
	z-index: 1;
	font-size: 1em;
	line-height: 1.5em;
	padding: 10px 10px;
	background: rgba(225,225,225,0.5); /*내용 바탕색 투명도*/
    -moz-background-clip: padding;
	-webkit-background-clip: padding; 
	background-clip: padding-box;
	border: 20px solid rgba(0,0,0,0.3); /*내용 경게선 투명도*/
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px; 
}

.accumulate {
	clear:both; 
	position:absolute; 
	top:115px;
	width:137px;
	right:-1px;
}

#accumulate2 {
	display:none;
	position:absolute;
	width: 40%;
	left: 30%;
	top: 37%;
	z-index: 1;
	font-size: 1em;
	line-height: 1.5em;
	padding: 10px 10px;
	background: rgba(225,225,225,0.5); /*내용 바탕색 투명도*/
    -moz-background-clip: padding;
	-webkit-background-clip: padding; 
	background-clip: padding-box;
	border: 20px solid rgba(0,0,0,0.3); /*내용 경게선 투명도*/
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px; 
}

b { font-size : 20px; color : #003366; }

/*select*/
.slctDiv{
	position:relative;
	top:1%;
	background-color:tan;
	width:100%;
}
select {
 margin:1%;
 padding: 0.5%;
 border-color : #836e5b;
 font-size:1.7vw;
}

/*button*/
button{
    background-color: #836e5b;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7vw;
    cursor: pointer;
    position:relative;
    
}

button:hover{
    background-color: #bb9540;
}


/*인기순 / 조회순*/
p{ font-size : 30px; color : #836e5b; }

.line { position:relative; width: 31%; }

.roomImage {width:256px; height:170px;}

.roomTable {
	position: relative;
}
.rline{
	position:relative;
	width: 30%; 
}
 /* 리뷰 */
.review table{
	margin:1%;
	width:98%;
   font-size:1.4vw;
}
.starImg{
	border-top:1px solid tan;
	border-bottom:1px solid tan;
}
.starImg img{
	width:8%;
}
.rvroomImg{
	width: 240px;  height:170px;
}
.review table td{
	width:25%;
}

/* footer */
footer{
	clear:both;
	position:relative;
	top:4%;
	top:300%;	margin:0 -5% 0 0;
	font-size:1.5vw;

}

table td:hover{
	color:orange;
	cursor:pointer;	
}

@keyframes slidy {
0% { left: 0%; }
20% { left: -100%; }
25% { left: -100%; }
45% { left: -200%; }
50% { left: -200%; }
70% { left: -300%; }
75% { left: -300%; }
95% { left: 0%; }
100% { left: 0%; }
}
div.slider { overflow: hidden; width:256px; height:170px;}
div.slider figure img {width:258px;  height:220px; float: left; }
div.slider figure {
position: relative;
width: 500%;
margin: 0;
top:0;
left: 0;
text-align: left;
font-size: 0;
}
div.slider figure:hover{
cursor:pointer;
-webkit-animation: 8s slidy infinite;
animation: 8s slidy infinite;
}
.exptr img{
	width:5%;
}
.exptr a{
	color:black;
	font-size:1.6vw;
	text-decoration:none;
}
.exptr a:hover{
	color:orange;
}
.imghover img:hover{
	cursor:pointer;
}
.rvwroomImg{
	width:200px; 
	height:120px;
}