@charset "UTF-8";
* { font-family: 'Gamja Flower', cursive; }
 
 
/* 로그인 */
header{
	float:right;
}
.topUl li a{
	font-size: 1.8vw;
}
.logo{
	position:absolute;
	width:9%;
	left:10%;
}

/* 타이틀 */
.top{
	position:absolute;
	top:4%;
	left:20%;
	width:auto;
	text-align:center;
	font-size: 3vw;
	color: #686868; 
}

/*배너*/
.banner {
	position:absolute;
	top:15%;
}

#banner {
	width:80%;
	height:10%;
}

/*배너 버튼*/
.whole {
	clear:both; 
	position:absolute; 
	top:37%;
	width: 10%;
	left: 25%;

}

#whole2 {
	display:none;
	position:absolute;
	width: 40%;
	left: 30%;
	top: 20%;
	z-index: 1;
	font-size: 1m;
	line-height: 1.5em;
	padding: 10px 10px;
	background: rgba(225,225,225,0.5); /*내용 바탕색 투명도*/
    -moz-background-clip: padding;
	-webkit-background-clip: padding; 
	background-clip: padding-box;
	border: 20px solid rgba(0,0,0,0.3); /*내용 경게선 투명도*/
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px; 
}

.previous {
	clear:both; 
	position:absolute; 
	top:37%;
	width: 10%; 
	left: 45%;
}

#previous2 {
	display:none;
	position:absolute;
	width: 40%;
	left: 30%;
	top: 20%;
	z-index: 1;
	font-size: 1em;
	line-height: 1.5em;
	padding: 10px 10px;
	background: rgba(225,225,225,0.5); /*내용 바탕색 투명도*/
    -moz-background-clip: padding;
	-webkit-background-clip: padding; 
	background-clip: padding-box;
	border: 20px solid rgba(0,0,0,0.3); /*내용 경게선 투명도*/
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px; 
}

.accumulate {
	clear:both; 
	position:absolute; 
	top:37%;
	width: 10%;  
	left: 65%;
}

#accumulate2 {
	display:none;
	position:absolute;
	width: 40%;
	left: 30%;
	top: 20%;
	z-index: 1;
	font-size: 1em;
	line-height: 1.5em;
	padding: 10px 10px;
	background: rgba(225,225,225,0.5); /*내용 바탕색 투명도*/
    -moz-background-clip: padding;
	-webkit-background-clip: padding; 
	background-clip: padding-box;
	border: 20px solid rgba(0,0,0,0.3); /*내용 경게선 투명도*/
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px; 
}

b { font-size : 20px; color : #003366; }

/*select*/
 
select {
 width : 10%;
 padding: 0.5%;
 border-color : #836e5b;
}

#sido_select{
	position:absolute;
	top: 45%;
	left:35%;
}

#gugun_select{
	position:absolute;
	top: 45%;
	left:48%;
}

/*button*/
button{
    background-color: #836e5b;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position:relative;
    top:327px;
    left:620px;
}

button:hover{
    background-color: #bb9540;
}

/*찾기 결과*/
table {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    width: 70%;

}
table thead th {
    font-weight: bold;
    vertical-align: top;
    color: #836e5b;;
    border:0;
    border-top: 3px solid #836e5b;;
    border-bottom: 3px solid #836e5b;;


}
table td {
    vertical-align: top;
    border:0;
    border-bottom: 1px solid #ccc;

}

/*인기순 / 조회순*/
p{ font-size : 40px; color : #836e5b; }

.line { width: 40%; }

.roomImage { width: 300px; }

 /* 리뷰 */
.review{
   position:absolute;
   /* top:220%; */
   left:19%;
   width:56%;
   height:auto;
   border: 2px solid #fee181;
   padding:3%;
   font-size:1.2vw;
}
.review img{
   width:3%;
}
.rbox{
   border-top:   1px solid #fee181;
   border-bottom: 1px solid #fee181;
   padding:1%;
}

.pnum{
   position:relative;
   left:40%;
}
.review button{
   background-color:#fee181;
   border-color:#fdc606;
}

/* footer */
/* footer */
footer{
	position:absolute;
	top:300%;
	margin:0 -5% 0 0;
}