@charset "UTF-8";
* { font-family: 'Gamja Flower', cursive; }

section{
	border:1px solid tan;
	width:100%;
}
/*배너*/
.banner {
	position:relative;
}

#banner {
	width:100%;
}

/*배너 버튼*/
.whole {
	clear:both; 
	position:absolute; 
	top:27.4%;
	width:19.9%;
	right:0.7%;

}

#whole2 {
	display:none;
	position:absolute;
	width: 40%;
	left: 30%;
	top: 37%;
	z-index: 1;
	font-size: 1m;
	line-height: 1.5em;
	padding: 10px 10px;
	background: rgba(225,225,225,0.5); /*내용 바탕색 투명도*/
    -moz-background-clip: padding;
	-webkit-background-clip: padding; 
	background-clip: padding-box;
	border: 20px solid rgba(0,0,0,0.3); /*내용 경게선 투명도*/
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px; 
}

.previous {
	clear:both; 
	position:absolute; 
	top:40.64%;
	width: 19.9%;
	right:0.7%;
}

#previous2 {
	display:none;
	position:absolute;
	width: 40%;
	left: 30%;
	top: 37%;
	z-index: 1;
	font-size: 1em;
	line-height: 1.5em;
	padding: 10px 10px;
	background: rgba(225,225,225,0.5); /*내용 바탕색 투명도*/
    -moz-background-clip: padding;
	-webkit-background-clip: padding; 
	background-clip: padding-box;
	border: 20px solid rgba(0,0,0,0.3); /*내용 경게선 투명도*/
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px; 
}

.accumulate {
	clear:both; 
	position:absolute; 
	top:53.9%;
	width: 19.9%;
	right:0.7%;
}

#accumulate2 {
	display:none;
	position:absolute;
	width: 40%;
	left: 30%;
	top: 37%;
	z-index: 1;
	font-size: 1em;
	line-height: 1.5em;
	padding: 10px 10px;
	background: rgba(225,225,225,0.5); /*내용 바탕색 투명도*/
    -moz-background-clip: padding;
	-webkit-background-clip: padding; 
	background-clip: padding-box;
	border: 20px solid rgba(0,0,0,0.3); /*내용 경게선 투명도*/
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px; 
}

b { font-size : 20px; color : #003366; }

/*select*/
.slctDiv{
	position:relative;
	top:1%;
	background-color:tan;
	width:100%;
}
select {
 margin:1%;
 padding: 0.5%;
 border-color : #836e5b;
 font-size:1.7vw;
}

/*button*/
button{
    background-color: #836e5b;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7vw;
    cursor: pointer;
    position:relative;
    
}

button:hover{
    background-color: #bb9540;
}


/*인기순 / 조회순*/
p{ font-size : 40px; color : #836e5b; }

.line { position:relative; width: 32%; }

.roomImage { width: 323px;  height:220px;}

.roomTable {
	position: relative;
}
.rline{
	position:relative;
	width: 30%; 
}
 /* 리뷰 */
.review table{
	margin:1%;
	width:98%;
   font-size:1.4vw;
}
.starImg img{
	width:10%;
}
.rvroomImg{
	width: 223px;  height:120px;
}
.review table td{
	width:25%;
}

/* footer */
footer{
	clear:both;
	position:relative;
	top:2%;
	top:270%;	margin:0 -5% 0 0;

}

@keyframes slidy {
0% { left: 0%; }
20% { left: -100%; }
25% { left: -100%; }
45% { left: -200%; }
50% { left: -200%; }
70% { left: -300%; }
75% { left: -300%; }
95% { left: 0%; }
100% { left: 0%; }
}
div.slider { overflow: hidden; width:323px;}
div.slider figure img { width: 323px;  height:220px; float: left; }
div.slider figure {
position: relative;
width: 500%;
margin: 0;
top:0;
left: 0;
text-align: left;
font-size: 0;
}
div.slider figure:hover{
-webkit-animation: 8s slidy infinite;
animation: 8s slidy infinite;
}