@charset "UTF-8";
*{
	margin:0;
	font-family: 'Gamja Flower', cursive;
}
/* 고정 상단바 */
nav{
	float:right;
}
.topUl li a{
	font-size: 1.3vw;
}
.logo{
	position:absolute;
	width:5%;
	left:10%;
}
/* 타이틀 */
.top{
	position:absolute;
	top:3%;
	left:15%;
	width:auto;
	text-align:center;
	font-size: 2vw;
	color: #686868; 
}

/*이벤트 단추*/
.event-container {
	position:absolute;
	width: 90%;
	top:18%;
    left: 4%;
}

.eventTap {
   position:absolute;
   display: flex;
   width: 100%;
   height: 45px;
   box-sizing: border-box;
   list-style: none;
}

.eventTap li {
   display: flex-block;
   width: 100%;
   border : 1px solid #e9e9eb;
   box-sizing: border-box;
   text-align: center;
}

.eventTap li {
   background-color: #fff;
}

.eventTap li:hover, .eventTap li.active
   {
   background-color: #c0c0c0;
}

.eventTap li:hover a, .eventTap li.active a
   {
   color: #fff;
}

.eventTap a {
   font-size: 13px;
   line-height: 40px;
   color: #333;
   text-decoration: none;
}


/* 목록 */
.list_tab{
	position:absolute;
	top:30%;
	left:5%;
}
table{
	text-align: center;
	border-top:2px solid #686868; 
	border-bottom:2px solid #686868; 
	border-collapse: collapse;
}
table th{
	border-top:2px solid #686868; 
	border-bottom:2px solid #686868; 
	width:300px;
}
table td{
	font-size: 1.5vw;
	padding:3%;
}

a{
	text-decoration: none;
	color:black;
}

table td a{
	text-decoration: none;
	color:#fc6b97; 
}

a:hover{
	color:orange;
}

.pnum{
	position:absolute;
	top:85%;
	left:43%;
	font-size: 1.8vw;
}

footer{
	position:absolute;
	bottom:-3%;
	margin:0 -5% 0 0;
}