@charset "UTF-8";
*{
   margin:0;
   font-family: 'Gamja Flower', cursive;
}
nav{
   position:relative;
   top:150px;
}

.memberUl{
   postion:absolute;
   top:20px;   
}
.topUl{
   top:-40px;
}
a .logo{
   position:absolute;
}

/* 타이틀 */
.top{
   position:absolute;
   top:2%;
   left:15%;
   width:auto;
   text-align:center;
   font-size: 2vw;
   color: #686868; 
}

/*이벤트 단추*/
.event-container {
   position:absolute;
   width: 90%;
   top:32%;
    left: 4%;
}

.eventTap {
   position:absolute;
   display: flex;
   width: 100%;
   height: 45px;
   box-sizing: border-box;
   list-style: none;
}

.eventTap li {
   display: flex-block;
   width: 100%;
   border : 1px solid #e9e9eb;
   box-sizing: borde -box;
   text-align:center;
   padding:1%;
}

.eventTap li {
   background-color: #fff;
}

.eventTap li:hover, .eventTap li.active
   {
   background-color: #c0c0c0;
   color: white;
}

/* 목록 */
.list_tab{
   position:absolute;
   top:45%;
   left:5%;
}
table{
   text-align: center;
   border-bottom:2px solid tan; 
   border-collapse: collapse;
   position:relative;
}
table th{
   border-top:2px solid tan; 
   border-bottom:2px solid tan; 
   width:230px;
   font-size: 2vw;
   background:tan;
}
table td{
   font-size: 2vw;
   padding:1%;
}

a {
   color: gray;
}

a:hover {
   color: tan;
}

/*페이지*/
#pageT {
   width: 100%;
   font-size: 2vw;
   position:relative;
   left:45%;
}

/*footer*/
footer{
   padding: 3% 0 0 0;
   position:relative;
   bottom:-750px;
}