.topUl li{
	margin:0px;
	font-family: 휴먼아미체;
	text-decoration:none;
	display:table-cell;
	font-size: 1.5vw;
}
.topUl li a{
	text-decoration:none;
	color: black;
}
.topUl li a:hover{
	color: orange;
}