@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px
}

/* 백그라운드 */
#back {
	width: 1300px;
	min-height: 1700px;
	height:auto;
	border: 1px solid black;
}
/* 메인 틀 */
#border {
	margin-top: 5%;
	margin-left: 10%;
	width: 1024px;
	min-height: 1125px;/* ?? 갑자기 왜 안맞지 */
	height:100%;
	border-color: black;
	border-style: solid;
}

#letflogo { /* 왼측 상단 메인로고 */
	float: left;
}

/* 최상단 로고 / 메뉴들이 들어갈 틀 */
#TopNav { 
	width: 1024px;
	height: 125px;
}
#TopMenu1 { /* 로그인 내정보 메인홈페이지  TopMenu1.jsp*/
	width: 100%;
	height: 50px;
	text-align: center;
}
ul.top {  /* TopMenu1.jsp 에 적용될 ul */
	float: right;
	list-style: none;
	padding-top: 15px;
}
ul.top li { /* TopMenu1.jsp 에 적용될 ul li */
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}
 /* TopMenu1.jsp a에 있는 class */
.topli {
	border-right: 1px solid black;
}
ul.top li a {
	color: black;
}
ul.top li a:hover {
	color: red;
}


#TopMenu2 { /* 관리화면에 들어갈 영역 TopMenu2.jsp */
	width: 100%;
	height: 75px;
	background-color: #A8998C;
	float: left;
}


/* 중앙 */
#center {
	width: 1024px;
	min-height: 800px;
	height: auto;
}

/* 제일 왼측에 있는 버튼메뉴 */
#left1 { 
	width: 10%;
	min-height: 800px;
	height:auto;
	background-color: lime;
	float: left;
}
#left1 ul {
	list-style: none;
}
#left1 ul li {
	border-bottom: 1px solid black;
}
#left1 ul li button {
	width: 100%;
	height: 50px;
}


/* 왼측 2번째 상세 메뉴 */
#left2 {
	width: 20%;
	min-height: 800px;
	height : 200%;
	background-color: orange;
	float: left;
}
#letf2div {
	width: auto;
	height: 50px;
	border: 1px solid black;
	padding-left: 7px;
	padding-top: 10px;
}
#serach { /* 2번째 상세 메뉴 위에 검색 */
	margin-left: 5px;
	margin-top: 10px;
}
#submenu { /* 상세메뉴 */
	margin-top: 10px;
}

/* 중앙 바디 주요화면이 들어올 영역 */
section {
	width: 70%;
	height: auto;
	min-height:800px;
	background-image: url("../images/bg01.jpg");
	opacity: 0.6;
	float: left;
	overflow: auto;
}

/* 하단 푸터 영역 */
footer {
	background-color: #836e5b;
	width: 1024px;
	height: 200px;
	text-align: center;
	color: white;
	font-size: 20pt;
	opacity: 0.7;
	float: right;
} 