<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alamDAO">
	<!-- 문의게시판에 대한 알람을 제외한 나머지것들 가져옴 --> 
	<select id="getAlamlist" resultType="">
		<![CDATA[select * from alam where id=#{id} and fromwhat!='question']]>
	</select>
	
	
	
	<!-- 문의게시판에대한 것들 가져옴 --> 
	<select id="getQuestionlist" resultType="">
		<![CDATA[select * from alam where id=#{id} and fromwhat=='question']]>
	</select>
	
	<!-- 답장하기 클릭시 다 문의게시판으로 insert됨 -->
	
</mapper>