<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="memberDAO">
	<!-- 아이디 찾기 -->	
	<select id="idCheck" resultType="Integer">
		select count(*) from member where id=#{id}
	</select>
	
	<!-- 로그인 비번 확인 -->
	<select id="getPass" resultType="String">
		select pw from member where id=#{id}
	</select>
	
	<!-- 포지션 찾기 -->
	<select id="getBrName" resultType="String">
		select branchName from member where id=#{id}
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertMember">
		insert into member
		<if test="kid==''and branchName==null">
			(id,pw,name,phone,birth,email,brStatus) values(#{id},#{pw},#{name},#{phone},#{birth},#{email},1)
		</if>
		<if test="kid!=''and branchName==null">
			(id,pw,name,phone,birth,email) values(#{kid},#{pw},#{name},#{phone},#{birth},#{email})
		</if> 
		<if test="branchName!=null">
			values(#{id},#{pw},#{name},#{phone},#{birth},#{email},#{branchName},#{zipcode},#{branchAddr1},#{branchAddr2},'지점장',-1)
		</if>
	</insert>
	
	<!-- 로그인 상태 가져오기 -->
	<select id="getStatus" resultType="Integer">
		select brStatus from member where id=#{id}
	</select>
	
	<!-- 로그인 상태로 변경 -->
	<update id="upStatus">
		update member set brStatus=1 where id=#{id}
	</update>
	
	<!-- 로그아웃 상태로 변경 -->
	<update id="dnStatus">
		update member set brStatus=0 where id=#{id}
	</update>
	
	<!-- 마이페이지 기제 정보 가져오기 -->
	<select id="getMyPageInfo" resultType="member">
		select id,name,phone,birth,email from member where id=#{id}
	</select>
	
	<!-- 정보수정 --> <!-- 매니저 추가로 들어가도 됨 -->
	<update id="upMyPageInfo" parameterType="member">
		update member set name=#{name},phone=#{phone},email=#{email} where id=#{id}
	</update>
	
	<!-- 방찾기용 -->
	<!-- 시/도 가져오기 -->
	<select id="getSido" resultType="member">
		select branchAddr1 from member
	</select>

	<!-- 회원목록 -->
   <select id="memberList" resultType="member">
	select * from member
   </select>
</mapper>