<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mgSalesDAO">

	<!-- 매출현황 테이블컬럼 -->
	<resultMap id="sales" type="Sales">
		<result property="date" column="dates" />
		<result property="inone" column="Roominone" />
	</resultMap>
	<!-- 매출현황게시판 -->
	<select id="SRead" resultType="Sales" resultMap="sales">
		SELECT * FROM SALES
	</select>
	
</mapper> 

