<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reportDAO">
	<!-- 리포트 올리기  -->
	<insert id="insertreport" parameterType="report">
		<![CDATA[insert into report values((select nvl(max(seq)+1,1) from report),#{title},#{content},#{orginfname},#{fname},#{id},sysdate)]]>
	</insert>
	
	<!-- 리포트 카운트 가져오기 -->
	<select id="getReportCount" parameterType="java.lang.String" resultType="Integer">
		select count(*) from report 
		<if test="id!=null or id!=''"><!-- 관리자 일시 상황에 맞게 변경 예정 -->
			where id=#{id}
		</if>
	</select>
	
	<!-- 리포트 리스트 가져오기 -->
	<select id="getReportlist" resultType="report">
	  <include refid="payAndReservDAO.pagingHeader"/>
		select seq as num,report.* from report 
		<if test="id!=null or id!=''"><!-- 관리자 일시 상황에 맞게 변경 예정 -->
			where id=#{id}
		</if>
		<if test="searchOption=='title' and keyword!=''">
			<![CDATA[and title like '%'||#{keyword}||'%']]>
		</if>
		<if test="searchOption=='content' and keyword!=''">
			<![CDATA[and content like '%'||#{keyword}||'%']]>
		</if>
		<include refid="payAndReservDAO.pagingFooter"/>
	</select>
	
	
</mapper>