@charset "utf-8";
* {
	font-family: 'Gamja Flower', cursive; 
}
nav {
	position: absolute;
	top: 1%;
	right:10%;
}

.topUl li a {
	font-size: 1.2vw;
}

.logo {
	position: absolute;
	width: 10%;
	top:13%;
	left:43.2%;
}

/* 타이틀 */
.top {
	position: absolute;
	top:32%;
	left:45.5%;
	width: auto;
	text-align: center;
	font-size: 2.3vw;
	color: #836e5b;
}

/* 아이디, 비번 라벨 */
label{
	color:#e8e8e8;
	position:absolute;
	left:39%;
	font-size:1.7vw; 
}
.ilabel{
	top:43%;
}
.plabel{
	top:50%;
}

/* text 필드 스타일,크기,폰트 사이즈 */
input[type=text],[type=password]{
	position:absolute;
	top:43%;
	left:42.5%;
	border: none;
	background-color:#e8e8e8;
	height:4%;
	font-size: 1.5vw;
}
input[type=password]{
	top:50%;
}
/* log.jsp(로그인,회원가입 버튼) sign.jsp(회원가입 버튼) */
.loginBtn{
	position:absolute;
	top:41.5%;
	left:57%;
	padding:2%;
	font-size:1.7vw;
	border-color:#e8e8e8;
	color:#e8e8e8;
}
#kakao-login-btn{
	position:absolute;
	top:57%;
	left:30%;
	width:40%;
}